---
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<img src="/images/sebet-panorama.jpg" alt="Panorama sela Šebet" class="hero-image" />
	
	<h2>Dobrodošli u Šebet</h2>
	
	<p>
		Šebet je malo planinsko selo smešteno u srcu prirodnih lepota. Okruženo šumama, 
		livadama i planinskim vrhovima, ovo selo predstavlja pravi dragulj tradicionalnog 
		života i kulture.
	</p>

	<p>
		Na ovom sajtu možete pronaći informacije o istoriji sela, njegovim stanovnicima, 
		tradiciji i običajima, kao i galeriju fotografija koje prikazuju lepotu ovog 
		jedinstvenog mesta.
	</p>

	<h3>Geografski položaj</h3>
	<p>
		Selo Šebet se nalazi na nadmorskoj visini od približno 800 metara. Okruženo je 
		planinskim masivima koji pružaju spektakularne poglede i mogućnosti za planinarenje 
		i istraživanje prirode.
	</p>

	<h3>Prirodne lepote</h3>
	<p>
		Šebet je poznat po svojoj netaknutoj prirodi, čistim potocima i raznovrsnoj flori i fauni. 
		Šume bogate gljivama i šumskim plodovima, livade pune lekovitog bilja i čist planinski 
		vazduh čine ovo mesto idealnim za odmor i bekstvo od gradske vreve.
	</p>

	<div class="featured-images">
		<div class="gallery">
			<div class="gallery-item">
				<img src="/images/sebet-priroda.jpg" alt="Priroda oko sela Šebet" />
			</div>
			<div class="gallery-item">
				<img src="/images/sebet-kuce.jpg" alt="Tradicionalne kuće u Šebetu" />
			</div>
			<div class="gallery-item">
				<img src="/images/sebet-ljudi.jpg" alt="Meštani sela Šebet" />
			</div>
		</div>
	</div>

	<h3>Istražite naš sajt</h3>
	<p>
		Pozivamo vas da istražite stranice našeg sajta i saznate više o ovom predivnom selu, 
		njegovoj bogatoj istoriji i tradiciji. U galeriji možete pogledati fotografije koje 
		prikazuju život u selu kroz godišnja doba.
	</p>
</Layout>