---
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<h2>Stanovništvo sela Šebet</h2>
	
	<img src="/images/sebet-stanovnici.jpg" alt="Stanovnici sela Šebet" class="hero-image" />
	
	<p>
		Selo Šebet danas broji oko 150 stanovnika, što je značajno manje nego sredinom 
		20. veka kada je u selu živelo preko 500 ljudi. Uprkos smanjenju broja stanovnika, 
		zajednica ostaje snažna i povezana.
	</p>

	<h3>Demografska struktura</h3>
	<p>
		Demografska slika sela pokazuje trend starenja stanovništva, što je karakteristično 
		za mnoga ruralna područja. Međutim, ohrabrujuća je činjenica da se poslednjih godina 
		nekoliko mladih porodica vratilo u selo, donoseći novu energiju i perspektivu.
	</p>

	<h3>Porodice i rodovi</h3>
	<p>
		U Šebetu postoji nekoliko starih porodica koje žive tu generacijama. Najstariji 
		rodovi su Petrović, Jovanović, Nikolić i Marković, čiji preci su među prvim 
		stanovnicima sela. Ove porodice čuvaju bogato porodično nasleđe i tradiciju.
	</p>

	<h3>Zanimanja</h3>
	<p>
		Tradicionalno, stanovnici Šebeta su se bavili stočarstvom, poljoprivredom i zanatima. 
		Danas, pored ovih tradicionalnih zanimanja, meštani se sve više okreću seoskom turizmu, 
		proizvodnji organske hrane i preradi tradicionalnih proizvoda.
	</p>
	
	<p>
		Mnogi stanovnici su poznati po proizvodnji kvalitetnih mlečnih proizvoda, posebno 
		sira i kajmaka, kao i po uzgoju lekovitog bilja i šumskih plodova.
	</p>

	<h3>Obrazovanje i kultura</h3>
	<p>
		U selu postoji osnovna škola do četvrtog razreda, dok stariji učenici putuju do 
		obližnjeg većeg mesta. Kulturni život sela je bogat, sa redovnim okupljanjima, 
		proslavama tradicionalnih praznika i manifestacijama koje čuvaju kulturno nasleđe.
	</p>

	<h3>Poznati meštani</h3>
	<p>
		Iz Šebeta potiče nekoliko značajnih ličnosti, uključujući narodnog umetnika Jovana 
		Petrovića, poznatog po svojim drvorezbarijama, i Milicu Nikolić, autorku knjige 
		"Priče iz planinskog sela" koja opisuje život u Šebetu kroz generacije.
	</p>
</Layout>